extends layout

block content
  h1= title
  p Welcome to #{title}
  a( href="#" class="easyui-linkbutton" id = "btn_test" ) Test
  a( href="#" class="easyui-linkbutton" id = "btn_test_socket" ) Test Socket

  script( data-main="/js/app" src="/js/lib/require.js" )