extends layout

block content
	div( data-options="region:'north'" style="height:50px" )
		table( style="width : 100%")
			tr
				td
					label( style="padding-right: 10px" ) ICMSv1.0
					a( id="btn_synchronize_index" href="javascript:void(0)" class="easyui-linkbutton" ) Synchronize
				td( style="text-align : right" )
					a( id="btn_logout_index" href="javascript:void(0)" class="easyui-linkbutton" ) logout

	script( data-main="/js/app/index" src="/js/lib/require.js" )