doctype html
html
  head
    title= title
    link( rel='stylesheet', href='/stylesheets/style.css' )
    link( rel='stylesheet', href='/stylesheets/default/easyui.css' )
    link( rel='stylesheet', href='/stylesheets/color.css' )
    link( rel='stylesheet', href='/stylesheets/icon.css' )
    script( data-main="/js/app" src="/js/lib/require.js" )
  body
    block content
