doctype html
html
	head
		title= title
		link( rel='stylesheet', href='/stylesheets/style.css' )
		link( rel='stylesheet', href='/stylesheets/default/easyui.css' )
		link( rel='stylesheet', href='/stylesheets/color.css' )
		link( rel='stylesheet', href='/stylesheets/icon.css' )
	body

	block content
